.footer-content{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    background-color:#2C3333;
    padding: 40px 20px;
    margin: 100px 0px 0px 0px;
    border-radius: 4px;
}

h2, p{
    padding: 3px 9px;
}


@media screen and (max-width: 750px) {
    .footer-content {
      display: flex;
      flex-direction: column;
    }
  }